<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.hitomila">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".common.HitomiApplication"
        android:allowBackup="true"
        android:icon="@drawable/hitomi_customicon_72x72"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".main.IndexActivity"
            android:theme="@style/MainActivityTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service
            android:name=".downloadService.DownloadService">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.IndexActivity"/>
        </service>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c7e8421cb5a5a0a5902064f669d892468ea7f773" />
    </application>

</manifest>